#btn-translate{
    background-color: white;
    border-radius: 0rem;
    color: black;
    display: block;
    max-width: 190px;
    margin: 1rem 1rem 1rem 0rem;
    text-align: center;
}

textarea{
    width: 40%;
    display: block;
    height: 10vh ;
    margin: 1rem;
    padding: 1rem;
}

.minion-img{
    align-items: right;
    width: 50%;
    height: 50%;
}

#output{
    background-color: white;
}

body {
    background-color: #FCE029;
}

#output{
    border: 1px solid black;
    height: 50vh;
    width: 90%;
    margin: 1rem;
    padding: 1rem;
}

#txt-input{
    border-radius: 1rem;

}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300&display=swap');

:root {
    --primary-color: #FCE029;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
    --light-green: #ECFDF5;
}

body {
    font-family: 'Roboto Mono', monospace;
    margin: auto;
    
}

hr {
    margin: 2rem 0rem;
}

/** spaces **/

.margin-md {
    margin: 2rem;
}

/** container **/
.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** links **/
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 7rem;
    color: white;
    display: block;
    max-width: 190px;
    margin: 1rem 1rem 1rem 0rem;
    text-align: center;

}

.secondary-link {
    color: var(--primary-color);
    border-radius: 7rem;
    border: 1px solid var(--primary-color);
    display: block;
    max-width: 190px;
    margin: 1rem 1rem 1rem 0rem;
    text-align: center;
}

/** look into BEM naming convention for CSS **/

/** lists **/

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation **/

.navigation {
    background-color: var(--primary-color);
    color: black;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

/** header **/

.hero {
    padding: 2rem;
    padding-top: 5rem;

}

.hero .hero-img {
    max-width: 100%;
    width: 500px;
    display: block;
    margin: auto;
}

.project-heading{
    text-align: center;
}

.blog-heading{
    text-align: left;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: #9CA3AF;
}

.heading-inverted{
    color: #6EE7B7;
}

.ow{
    
    background-color: var(--light-green) ;
}

.section{
    padding: 1rem;
}

.section h1{
    text-align: center;
    padding: 1rem;
}

.footer{
    background-color: var(--primary-color);
    color: black;
    font-weight: bolder;
    padding: 5rem 1rem;
    text-align: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

}

.footer .link{
    color: whitesmoke;
    font-weight: normal;
    padding: auto;
    margin: 3rem 1rem;
}

.footer ul{
    padding-inline-start: 0;
}

.footer-img{
    width: 40px;
    height: 40px;
}

.project-img{
    max-width: 100%;
    width: 500px;
    display: block;
    margin: auto;
    
}

.my-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;

}