@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Comfortaa:wght@300;700&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
:root{
    font-family: 'Architects Daughter', cursive;
    font-family: 'Comfortaa', cursive;
    font-family: 'Pangolin', cursive;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Pangolin', cursive;
    color: #B45309;
    background-color: #FCD34D;
    margin: 0px;
}

.header{
  text-align: center;
  font-weight: bolder;
  height: 145px;
  background-color: #B45309;
  color: white;
  font-size: 30px;
  margin-bottom: 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.main-heading{
   padding: 50px;
   letter-spacing: 1.5rem;
}

.content{
  box-sizing: border-box;
  box-shadow: yellow;
  padding: 20px;
  
}

#txt-input{
   border-radius: 20px;
   box-sizing: border-box;
   height: 110px;
   width: 100%;
   max-width: 600px;
   display: block;
   margin: auto;
   padding: 10px;
   border: 2px solid black;

}

#btn-translate{
    width: auto;
    height: 50px;
    background: #B45309;
    color: white;
    font-family: 'Pangolin', cursive;
    font-size: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-style: none;
    border-radius: 10px;
    border: 2px solid black;

}


#output{
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    height: 110px;
    width: 100%;
    max-width: 600px;
    font-family: 'Pangolin';
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    border: 2px solid brown ;
    background: white;
     
}

.footer{
 margin-top: auto;
 background-color: #B45309;
 color: white;
 height: auto; 
 border-top-left-radius: 20px;
 border-top-right-radius: 20px;

}

h4{
 text-align: center;
 padding-top: 1px;
 letter-spacing: 5px;

}

p{
    padding-left: 50px;
    padding-right: 50px;
    font-family:'Comfortaa', cursive ;
    font-size: small;
}