@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Comfortaa:wght@300;700&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
:root{
    font-family: 'Architects Daughter', cursive;
    font-family: 'Comfortaa', cursive;
    font-family: 'Pangolin', cursive;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Pangolin', cursive;
    color: #B45309;
    background-color: #FCD34D;
    margin: 0px;
}

.header{
  text-align: center;
  font-weight: bolder;
  height: 145px;
  background-color: #B45309;
  color: white;
  font-size: 30px;
  margin-bottom: 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.main-heading{
   padding: 50px;
   letter-spacing: 1.5rem;
}

.content{
  box-sizing: border-box;
  box-shadow: yellow;
  padding: 20px;
  
}

#txt-input{
   border-radius: 20px;
   box-sizing: border-box;
   height: 110px;
   width: 100%;
   max-width: 600px;
   display: block;
   margin: auto;
   padding: 10px;
   border: 2px solid black;

}

#btn-translate{
    width: auto;
    height: 50px;
    background: #B45309;
    color: white;
    font-family: 'Pangolin', cursive;
    font-size: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-style: none;
    border-radius: 10px;
    border: 2px solid black;
    transition: 1s;

}

#btn-translate:hover{
    box-shadow: 5px 5px 5px rgba(46, 46, 46, 0.788);
    color: black;
    background-color: #b45309a4;
    transition: 0.5s;
    cursor: pointer;
    padding: 0.5rem;
}


#output{
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    height: 110px;
    width: 100%;
    max-width: 600px;
    font-family: 'Pangolin';
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 0px;
    border: 2px solid brown ;
    background: white;
     
}

.footer{
    box-sizing: border-box;
    border: 2px solid black;

 margin-top: 2rem;
 margin-bottom: 2rem;
 background-color: rgba(255, 255, 255, 0);
 color: black;
 height: auto; 
 border-radius: 10px;

}

.footer:hover{
    background-color: rgb(34, 33, 33);
    color: white;
    box-sizing: border-box;
    border: 2px solid brown;
}

h4{
 text-align: center;
 padding-top: 1px;
 letter-spacing: 5px;

}

p{
    padding-left: 50px;
    padding-right: 50px;
    font-family:'Comfortaa', cursive ;
    font-size: small;
}

/*footer*/

footer{
    background-color: #B45309;
    margin: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: 'Comfortaa', cursive;
    transition: 1s;
    
}

footer:hover{
    background-color: #b4530985;
    transition: 1s;
}

.fa {
    padding: 10px;
    font-size: larger;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 2rem;
    color: white;
    transition: 1s;
  }

  .fa-github:hover{
      color: #624a85;
     margin: 0px 50px;
     transition: 1s;
     font-size: xx-large;
}

  .fa-linkedin:hover{
      color: #0e76a8 ;
      margin: 0px 50px;
     transition: 1s;
     font-size: xx-large;
  }

  .fa-twitter:hover{
      color:#1DA1F2;
      margin: 0px 50px;
     transition: 1s;
     font-size: xx-large;
  }

  .fa-instagram:hover{
      color:#fb3958 ;
      margin: 0px 50px;
     transition: 1s;
     font-size: xx-large;
  }
  
  footer h3{
      
      padding: 3rem;
      margin: auto;
      text-align: center;
      color: white;
  }

  .icon{
      margin-left: 2rem;
      padding: auto;
      text-align: center;
      font-size: x-large;
  }